<!-- <div class="text-layout">
  <h1>
    {{ nombre | titlecase }}
    {{ valor | number }}
    {{ obj | json }}
  </h1>

  <button
    pButton
    type="button"
    (click)="mostrarNombre()"
    label="Mostrar nombre"
    class="p-button-help"
    icon="pi pi-user"
    iconPos="right"
  ></button>
</div>

<hr>

<p-card [header]="nombre |titlecase"
subheader="Subtitulo">
 
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quaerat sed,
  atque et quos quis amet tempora autem enim in corporis ipsa, tenetur
  consequuntur voluptatem quibusdam aliquid tempore minima sit.
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>